body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 170, 0);
}
h1 {
    font-size: 50px;
    color: rgb(255, 176, 19);
    background-color: rgb(5, 5, 5);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
div{
    text-align: center;
    color: rgb(247, 170, 56);
}
nav{
    color:rgb(248, 157, 20);   
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
    background: rgb(255, 170, 0);
     color:rgb(255, 170, 0)
}

head {
    position: relative;
}

header h3 {
    position: absolute;
    left: calc(50%);
    transform: translateX(-50%);
}
.story-script-regular {
  font-family: "Story Script", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    background-color: #ff7700;
    text-align: center;
    font-size: 50px;
    color:#fa7d10;
    font: size 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
