body {
  background-color: rgb(8, 8, 8);
  border-radius: 28%;
  color: rgb(255, 170, 0);
  background: url("../fundo.jpg");
}

h1 {
  font-size: 50px;
  background-color: #ff7700;
  color: rgb(255, 170, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow, transform;
  background: radial-gradient(100% 100% at 100% 0%, #ff7700, #ff5e00 100%);
  box-shadow: 0px 0.01em 0.01em rgb(255, 203, 107), 0px 0.3em 0.7em -0.01em rgb(255, 244, 158), inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #ffffff;
  height: 2.6em;
  text-shadow: 0 1px 0 rgba(39, 38, 33, 0.4);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #3c4fe0;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
  transform: translateY(0em);
}