body {
  border-radius: 100%;
  background-color: rgb(255, 162, 0);
  color:#ffd500 0%;
  text-align: center;
  

}

/* Contato.html*/

.formulario-campo {
    display: flex;
    flex:1;
    gap: 16px;
    text-align: center;
    width: 70%;
    justify-content: space-around;
    margin-bottom: 16px;
    
}

.formulario-campo label{
   font-family: "inter",sans-serif;
   font-weight: 400;
}


.formulario-campo input,
.formulario-campo select,
.formulario-campo textarea {
   width: 300px;
   justify-self: flex-end;
}

button {
  font-size: 18px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  will-change: box-shadow,transform;
   background: radial-gradient(100% 100% at 100% 0%, #ffd500 0%, rgb(255, 187, 0));
  box-shadow: 0px 0.01em 0.01em rgb(255, 251, 0), 0px 0.3em 0.7em -0.01em rgb(255, 238, 160), inset 0px -0.01em 0px rgb(247, 169, 91);
  padding: 0 2em;
  border-radius: 0.3em;
  color: #f0be5f;
  height: 2.6em;
  text-shadow: 0 1px 0 rgba(255, 196, 19, 0.99);
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

button:hover {
  box-shadow: 0px 0.1em 0.2em rgb(253, 199, 98), 0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%), inset 0px -0.1em 0px #faffaf;
  transform: translateY(-0.1em);
}

button:active {
  box-shadow: inset 0px 0.1em 0.6em #fbff00;
  transform: translateY(0em);
}